body {
  font-family: "Work Sans", sans-serif;
  margin-left: 70px;
  margin-top: 150px;
  background-image: url(img/593826.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.time {
  margin-top: 25px;
  color: black;
  padding: 8px;
  text-align: center;
  width: 500px;
}
.hms {
  font-size: 68pt;
  font-weight: 200;
}
.ampm {
  font-size: 22pt;
}
.date {
  font-size: 15pt;
}
